@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* #87AEBE #658C9B #446978 #224755 #002532 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter", system-ui;
    color: #f8f9fa;
}

h1{
    margin: 0;
    padding: 0;
}

body{
    background-color: #00141e;
   /*  background: url('imgs/background.jpeg') no-repeat center center fixed ;
    background-size: cover; */
    
}

.header{
    width: 100vw;
    height: 7vh;
    background-color: #002532;
    max-width: 100%;
    box-shadow: 1px 3px 20px #002532;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    display: inline-block;
    text-align: center;
}

.logo img{
    display: inline-block;
    width: 35px;
    height: 35px;
}

.logo h1{
    font-size: 15px;
    cursor: default;
}

a{
    color: #f8f9fa;
    text-decoration: none;
}

nav{
    display: inline-block;
}

.listaPC{
    display: inline-block;
    padding: 0;

}
.listaPC li {
    display: inline-block;
    list-style: none;
    position: relative;
    overflow: hidden;
}

.listaPC li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #658C9B;
    transition: width 0.4s ease;
}

.listaPC li:hover::before {
    width: 100%;
}

.listaPC li:not(:last-child){
    margin-right: 15px;
}

.pesquisa{
    display: flex;
    border: 1px solid #658C9B;
    padding: 3px;
    align-items: center;
}

.pesquisa input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #f8f9fa;
}

.pesquisa img{
    width: 20px;
}

.pesquisa a{
    height: 20px;
}

.avatar img{
    width: 35px;
    height: 35px;
}

.btn{
    display: none;
}

.pesquisa img:first-child{
    display: none; /* IB */
} 

.listaCel{
    display: none;
}

.container-slider{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    margin-top: 50px;
}

.slider{
    max-width: 94vw;
    position: relative;
}

.img-slider:hover{
    box-shadow: 0 0 20px #446978;
    transition: .2s;
    cursor: pointer;
}

.slider .carousel{
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease;
}
.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.container-slider i{
    opacity: 10%;
    color: #658C9B;
    background-color: #f8f9fa;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    font-size: 30px;
}

.container-slider i:hover{
    transition: 1s;
    opacity: 50%;
}

.carousel img{
    width: calc(100% / 3);
    object-fit: cover;
    height: calc(320px - (320px * 10 / 100));
    margin-left: 15px;
    border-radius: 20px;
}

.carousel img:first-child{
    margin-left: 0;
}

/* ----------------------------------------------------------------------------------- */

.container-slider-livro{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    margin-top: 50px;
}

h2{
    margin-top: 20px;
    padding: 0 0 0 10px;
    color: #f8f9fa;
    opacity: 80%;
}


.slider-livro{
    max-width: 94vw;
    position: relative;
}

.slider-livro .carousel-livro{
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease;
}
.carousel-livro.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel-livro{
    padding: 10px 0;
}

.container-slider-livro i{
    opacity: 10%;
    color: #658C9B;
    background-color: #f8f9fa;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    font-size: 30px;
    margin-top: 50px;
}

.container-slider-livro i:hover{
    transition: 1s;
    opacity: 50%;
}

.carousel-livro img:first-child{
    margin-left: 0;
}

figure{
    margin: 0;
}

.carousel-livro, .carousel {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
    
}

.livro{
    margin-right: 30px;
}

.livro:first-child{
    margin-left: 0;
}

.livro:last-child{
    margin-left:0;
}

.img-slider-livro:hover{
    box-shadow: 0 0 20px #446978;
    transition: .2s;
    
}

.nome-livro{
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-bottom: 5px;
}

.ano-livro{
    margin: 0;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    opacity: 90%;
    color: #658C9B;
}


.livro img {
    width: calc(100%); 
    height: 162px;
    min-width: 100px;  
    border-left-width: 4px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-style: inset;
    border-color: #224755;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}


@media screen and (max-width: 1500px) {
    .carousel img{
        width: calc(100% / 2);
    }

    .livro img{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 1100px) {
    .carousel img{
        width: 100%;
    }

    .livro img{
        width: 100%;
    }
}


@media screen and (max-width: 800px) {
    
    .header{
        justify-content: center;
    }

    .logo{
        flex-grow: 1;
        display: inline-block; /* None */
    }
    
    .listaPC{
        display: none;
    }
    .pesquisa{
        border: none;
        justify-content: space-evenly;
    }

    .pesquisa input{
        display: none; /* IB */
        background-color: #173742;
        border-radius: 20px;
        width: 70vw;
        height: 5vh;
        padding-left: 10px;
        color: #658C9B;
    }

    .pesquisa img:first-child{
        width: 22px;
        height: 22px;
        margin: 0 10px;
        cursor: pointer;
        display: none; /* IB */
    }   

    .pesquisa img:last-child{
        width: 22px;
        height: 22px;
        margin: 0 10px;
        cursor: pointer;
    }

    ::-webkit-input-placeholder{
        color: #446978;
    }
    
    .avatar{
        display: none;
    }

    .btn{
        width: 22px;
        display: inline-block ;
        background-color: transparent;
        color: #f8f9fa;
        border: none;
        font-size: 25px;
        padding: 0;
        margin-left: 15px;
        display: inline-block; /* None */
        cursor: pointer;
    }

    .logo{
        box-shadow: none;
    }

    .listaCel{
        margin: 0;
        padding: 0;
        width: 100vw;
        background-color: #002532d7;
        display: none;
        flex-direction: column;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding-top: 5px;
    }

    .listaCel li{
        list-style: none;
        padding: 10px 10px 10px 17px;
        font-size: 16px;
    }

    .listaCel li:not(:last-child){
        border-bottom: 1px solid #224755;
    }

    .listaCel span{
        height: 15px;
        width: 15px;
        padding-right: 10px;
    }

    .carousel img{
        width: 100%;
    }

    .carousel-livro img{
        width: 100%;
    }

    /* #87AEBE #658C9B #446978 #224755 #002532 */
}

@media screen and (max-width: 450px) {

    .slider{
        max-width: calc(500px - (500px * 35 / 100));
        position: relative;
    }

    .carousel img{

        width: calc(500px - (500px * 35 / 100));
        height: calc(320px - (320px * 35 / 100));
    }

    .container-slider i{
        opacity: 10%;
        color: #658C9B;
        background-color: #f8f9fa;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        font-size: 20px;
    }

    .slider-livro{
        max-width: calc(500px - (500px * 35 / 100));
        position: relative;
    }

    .livro img{
        width: calc(500px - (500px * 35 / 100));
        height: calc(320px - (320px * 35 / 100));
    }

    .container-slider-livro i{
        opacity: 10%;
        color: #658C9B;
        background-color: #f8f9fa;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        font-size: 20px;
    }
}
