<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/categorias.css">
</head>
<body>
    <header class="header">
        <button class="btn" id="btn" onclick="barraCel()">&#9776;</button>
        <div class="logo" id="logo">
            <img src="../static/imagens/logo.png" alt="logotipo">
            <h1>Webook</h1>
        </div>
        <nav>
            <ul class="listaPC">
                <li><a href="pagina-inicial.html">Inicio</a></li>
                <li><a href="{{ url_for('categorias')}}">Gêneros</a></li>
                <li><a href="favoritos.html">Minhas lista</a></li>
            </ul>
        </nav>

        <div class="pesquisa" id="pesquisa">
            <img src="../static/imagens/ic-back_97586.svg" alt="icone-voltar" id="btn_voltar" onclick="Voltar_pesquisa()">
            <input type="text" placeholder="Títulos, gêneros e autores" id="input_pesquisa">
            <img src="../static/imagens/loupe-search-svgrepo-com.svg" alt="lupa de pesquisa" id="imgOn" onclick="Abrir_pesquisa()">
        </div>

        <div class="avatar">
            <a href="../Vitor/Biblioteca.html"><img src="../static/imagens/avatar.png" alt="avatar" width="20px"></a>
        </div>

    </header>

    <nav>
        <ul class="listaCel" id="listaCel">
            <li><a href="#"><span class="fas fa-book-open" style="color: #f8f9fa;"></span>Meus Livros</a></li>
            <li><a href="#"><span class="fas fa-star" style="color: #f8f9fa;"></span>Favoritos</a></li>
            <li><a href="#"><span class="fas fa-cog" style="color: #f8f9fa;"></span>Configurações</a></li>
            <li><a href="#"><span class="fas fa-phone" style="color: #f8f9fa;"></span>Contato</a></li>
            <li><a href="#"><span class="fas fa-user" style="color: #f8f9fa;"></span>Perfil</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="categoria" onclick="redirecionarGenero('Informática')">
            <div class="foto"><img src="../static/img/Programming-amico.svg" alt=""></div>
            <div class="titulo"><h1>Informática</h1></div>
        </div>

        <div class="categoria" onclick="redirecionarGenero('Administração')">
            <div class="foto"><img src="../static/img/Team work-bro.svg" alt=""></div>
            <div class="titulo"><h1>Administração</h1></div>
        </div>
        <div class="categoria" onclick="redirecionarGenero('Joalheria')">
            <div class="foto"><img src="../static/img/Visionary technology-pana.svg" alt=""></div>
            <div class="titulo"><h1>Joalheria</h1></div>
        </div>
        <div class="categoria" onclick="redirecionarGenero('Contabilidade')">
            <div class="foto"><img src="../static/img//Bitcoin P2P-pana.svg" alt=""></div>
            <div class="titulo"><h1>Contabilidade</h1></div>
        </div>
        <div class="categoria" onclick="redirecionarGenero('Enciclopedias')">
                <div class="foto"><img src="../static/img//Nerd-cuate.svg" alt=""></div>
                <div class="titulo"><h1>Enciclopedia</h1></div>

        </div>
    </div>
    
    <script src="../static/categorias.js"></script>
</body>
</html>