<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/Pagina-inicial.css">
        <script src="https://kit.fontawesome.com/14cc3106f5.js" crossorigin="anonymous"></script>
        <title>Webook</title>
    </head>
    <body>  
        <header class="header">
            <button class="btn" id="btn" onclick="barraCel()">&#9776;</button>
            <div class="logo" id="logo">
                <img src="../static/imagens/logo.png" alt="logotipo">
                <h1>Webook</h1>
            </div>
            <nav>
                <ul class="listaPC">
                    <li><a href="pagina-inicial.html">Inicio</a></li>
                    <li><a href="{{ url_for('categorias')}}">Gêneros</a></li>
                    <li><a href="favoritos.html">Minhas lista</a></li>
                </ul>
            </nav>

            <div class="pesquisa" id="pesquisa">
                <img src="../static/imagens/ic-back_97586.svg" alt="icone-voltar" id="btn_voltar" onclick="Voltar_pesquisa()">
                <input type="text" placeholder="Títulos, gêneros e autores" id="input_pesquisa">
                <img src="../static/imagens/loupe-search-svgrepo-com.svg" alt="lupa de pesquisa" id="imgOn" onclick="Abrir_pesquisa()">
            </div>

            <div class="avatar">
                <a href="../Vitor/Biblioteca.html"><img src="../static/imagens/avatar.png" alt="avatar" width="20px"></a>
            </div>

        </header>

        <nav>
            <ul class="listaCel" id="listaCel">
                <li><a href="#"><span class="fas fa-book-open" style="color: #f8f9fa;"></span>Meus Livros</a></li>
                <li><a href="#"><span class="fas fa-star" style="color: #f8f9fa;"></span>Favoritos</a></li>
                <li><a href="#"><span class="fas fa-cog" style="color: #f8f9fa;"></span>Configurações</a></li>
                <li><a href="#"><span class="fas fa-phone" style="color: #f8f9fa;"></span>Contato</a></li>
                <li><a href="#"><span class="fas fa-user" style="color: #f8f9fa;"></span>Perfil</a></li>
            </ul>
        </nav>

        <main>
            
            <section class="container-slider">
                <i id="esquerda" class="fa-solid fa-angle-left"></i>
                <div class="slider">
                    <div class="carousel">
                            <img src="../static/imagens/cont.png" alt="contabilidade" class="img-slider" onclick="redirecionarGenero('Contabilidade')">
                            <img src="../static/imagens/adm.png" alt="administração"class="img-slider" onclick="redirecionarGenero('Administração')">
                            <img src="../static/imagens/info.png" alt="informatica"class="img-slider" onclick="redirecionarGenero('Informática')">
                            <img src="../static/imagens/joia.png" alt="joalheria"class="img-slider" onclick="redirecionarGenero('Joalheria')">
                    </div>
                </div>
                <i id="direita" class="fa-solid fa-angle-right"></i>
            </section>


            
            <section class="container-slider-livro">
                <i id="esquerda-livro" class="fa-solid fa-angle-left"></i>
                <div class="slider-livro">
                    <h2>Recomendados</h2>
                    <div class="carousel-livro">
                        {% for livro in livros[:15] %}
                            
                                <div class="livro">
                                    <a href="{{ url_for('livro_descricao', livro_id=livro.id_livro) }}">
                                        <img src="{{livro.capa_livro}}" alt="capa do livro {{livro.nome_livro}}" class="img-slider-livro">
                                        <p class="nome-livro">{{livro.nome_livro}}</p>
                                        <p class="ano-livro">{{livro.ano_livro}}</p>
                                    </a>
                                </div>
                        {% endfor %}
                    </div>
                </div>
                <i id="direita-livro" class="fa-solid fa-angle-right"></i>
            </section>

            <section class="container-slider-livro">
                <i id="esquerda-livro" class="fa-solid fa-angle-left"></i>
                <div class="slider-livro">
                    <h2>Melhores Avaliações</h2>
                    <div class="carousel-livro">
                        {% for livro in livros[:15] %}
                            <a href="{{ url_for('livro_descricao', livro_id=livro.id_livro) }}">
                                <div class="livro">
                                    <img src="{{livro.capa_livro}}" alt="capa do livro {{livro.nome_livro}}" class="img-slider-livro">
                                    <p class="nome-livro">{{livro.nome_livro}}</p>
                                    <p class="ano-livro">{{livro.ano_livro}}</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <i id="direita-livro" class="fa-solid fa-angle-right"></i>
            </section>

            

        </main>        
        <script src="../static/carousel.js"></script>
        <script src="../static/carousel-livro.js"></script>
        <script src="../static/Pagina-inicial.js"></script>
    </body>
</html>
